docs/PA*
docs/extra-credit.pdf
examples/*.s
src/*/grading/*
src/*/*.o
src/*/*.s
src/*/*.a
src/*/cgen
src/*/good.output
src/*/bad.output
src/*/core
src/*/semant
src/*/symtab_example
src/*/parser
src/*/lexer
src/lexer/cool-lex.cc
bin/lexer
bin/parser
bin/semant
bin/cgen
.vscode
